h1 {
    text-align:center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}



.container > * {
    height: 350px;
    width: 350px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;

    outline:10px solid black;
}


img {
    height: 350px;
    width: 350px;
}