h1 {
    text-align:center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}



.container > * {
    height: 350px;
    width: 350px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;

    outline:10px solid black;
    cursor: pointer;
}



img {
    height: 350px;
    width: 350px;
}

.players {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.players > * {
    font-size: 100px;
}

.score > * {
    font-size: 100px;
}

.roundWinner {
    text-align:center;
    font-size: 50px;
}

.overallWinner {
    text-align:center;
    font-size: 150px;
}