body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
    color: white;
    flex: 1 50%;
    display: flex;
    flex-direction: column;
}

.top_header {
    display: flex;
    justify-content: space-around;
}

.top_header > * {
    min-width: 0;
}

.header_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_info > *{
    min-width: 0;
}

.header_text > * {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header_title {
    font-family: "Hero";
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    
}

.header_summary {
    font-size: 18px;
    color: #E5E7EB;
}

.sign_up {
    font-size: 24px;
    background-color: #3882F6;
    color: #E5E7EB;
}

.header_image {
    background-color: aqua;
    height: 200px;
    width: 200px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

a {
    text-decoration: none;
    color: white;
}






.info {
    background-color: white;
    flex: 1 50%
}

.quote {
    background-color: #E5E7EB;
    flex: 1 50%;
}

.action {
    flex: 1 50%;
}

footer {
    background-color: #1F2937;
    color: white;
    flex: 1 50%
}