body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
    color: white;
    flex: 1 50%;
    display: flex;
    flex-direction: column;
}

.top_header {
    display: flex;
    justify-content: space-around;
}

.header_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_text {
    display: flex;
    flex-direction: column;
}

.header_image {
    background-color: aqua;
    height: 200px;
    width: 200px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

a {
    text-decoration: none;
    color: white;
}






.info {
    background-color: white;
    flex: 1 50%
}

.quote {
    background-color: #E5E7EB;
    flex: 1 50%;
}

.action {
    flex: 1 50%;
}

footer {
    background-color: #1F2937;
    color: white;
    flex: 1 50%
}