.grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 24%;
    height: 24%;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}